<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="curve_chart" style="width: 100%; height: 500px;"></div>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Trade', 'BUY', 'SELL'],
                    {% for a in data %}
            [ 'PP', {{ a.ask }}, {{ a.bid }}],
        {% endfor %}
        ]);

        var options = {
          title: 'Bid-Ask Spread of Monetum Exchange (BTC/EUR)',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Trade', 'Total Investment'],
                    {% for a in investments %}
            [ '{{ a.month }}', {{ a.total }}],
        {% endfor %}
        ]);

        var options = {
            title: '',
            curveType: 'function',
            legend: {position: 'bottom'},
            backgroundColor: 'fce1c3',
            pointSize: 10,
            vAxis: {
                gridlines: {
                    count: 0
                }
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('investments-chart'));

        chart.draw(data, options);
      }
    </script>