
<div id="bot_count_chart" style="width: 100%; height: 500px;"></div>

<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBotCountChart);

    function drawBotCountChart() {
        var data = google.visualization.arrayToDataTable([
            ['Date', 'Bot Count'],
            {% for a in bot_count_chart %}
                [ '{{ a.date }}', {{a.value}}],
            {% endfor %}
        ]);

        var optionss = {
            title: 'Bot Count',
            legend: { position: 'bottom' },
            slantedText:true,
            slantedTextAngle:45,
        };

        var chart = new google.visualization.LineChart(document.getElementById('bot_count_chart'));

        chart.draw(data, optionss);
    }
</script>